<div class="u-container u-spacer-t">
  <div class="m-verticalInput">
  <h1>Admin Page</h1>

  <h2>Maps</h2>
  {{textInput "Longitude" "50" "m-inputText" "map-lon"}}
  {{textInput "Latitude" "3" "m-inputText" "map-lat"}}
  {{textInput "Name" "korenmarkt" "m-inputText" "map-name"}}
  {{button "Add" 3 "btn-map-add"}}

  <h2>Games</h2>
  {{!-- {{textInput "Longitude" "50" "m-inputText" "map-lon"}}
  {{textInput "Latitude" "3" "m-inputText" "map-lat"}}
  {{textInput "Name" "korenmarkt" "m-inputText" "map-name"}} --}}
  {{button "Add" 3 "btn-game-add"}}
  
  </div>
</div>