{{!-- {{> header }} --}}
<div class="u-container u-spacer-t">
  {{customHeaderExtended "Welcome" "User12345" "usernameHeading" "m-extendedHeader--home"}}
  {{!-- <ul>
    <li>{{routerLink "firebase" "Ga naar de Firebase pagina"}}</li>
    <li>{{routerLink "mapbox" "Ga naar de Mapbox pagina"}}</li>
  </ul> --}}
  <div class="u-centerContainer u-centerContainer--absolute">
    {{playButton "Join Game" 2 "btn-join"}}
    {{playButton "Create Game" 2 "btn-create"}}
  </div>
  <div class="m-settingsButton">
    <div class="m-settingsButton__button" id="btn-settings">
      <img class="m-settingsButton__icon" src="../assets/icons/settings.svg" alt="settings-icon">
    </div>
  </div>
  {{!-- {{button "Settings" 2 "btn-settings" "a-button--settings"}} --}}
  {{button "Log Out" 3 "btn-logout" "a-button--logout"}}
</div>
{{!-- {{> footer }} --}}