<div class="u-container--small u-background--light">
  {{> header }}
  {{!-- {{pageTitleHeader}} --}}
  <div class="m-tabs">
    <a class="m-tabs__tab" id="btn-login">Log In</a>
    <a class="m-tabs__tab m-tabs__tab--active">Create Account</a>
  </div>
  <form action="" class="o-form o-form--start">
    {{!-- {{textInput "Username" "User12345" "" "username"}} --}}
    {{emailInput "Email" "example@example.com" "" "email"}}
    {{passwordInput "Password" "" "" "password"}}
    {{passwordInput "Confirm Password" "" "" "password-confirm"}}
    {{button "Create Account" 3 "btn-register"}}
    {{!-- {{button "Log In" 1 "btn-login"}} --}}
  </form>
</div>