<div class="o-debug" style="position: absolute; top: 0;">
    {{routerLink "login" "Log In" "o-header__action"}}
    {{routerLink "home" "Home" "o-header__action"}}
    {{routerLink "room" "Room" "o-header__action"}}

    {{routerLink "firebase" "Firebase" "o-header__action"}}
    {{routerLink "mapbox" "Mapbox" "o-header__action"}}

    {{routerLink "game/finish" "Finish Game" "o-header__action"}}

    {{routerLink "admin" "Admin" "o-header__action"}}
</div>